.cc-new-message {
    float: right;
    padding: 2rem 0.5rem 2rem 0rem;
}

.cc-accordion-panel {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


#newMessageButtonId {
    &:focus,
    &:focus-visible {
        outline: -webkit-focus-ring-color auto;
        outline-offset: 3px;
    }
}
